{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}

{% block content %}

  <p><a href="/">HOME</a></p>

  <h1>Members</h1>
  
  <h2>Youth Group (Under 20)</h2>
  <ul>
    {% for x in mymembers %}
      {% if x.age is not None and x.age < 20 %}
        <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Adult Group (20 and older)</h2>
  <ul>
    {% for x in mymembers %}
      {% if x.age is not None and x.age >= 20 %}
        <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}
